<%- include("./partials/header.ejs") %>
<body>
    <div class="container">
        <hr>
        <h1>Lista de Pedidos</h1>
        <hr>
        <a href="/cadastrar-pedido"><button class="btn btn-primary">Cadastrar Pedido</button></a>
        <br>
        <br>
        <% pedidos.forEach(pedido => { %>
        <div class="card">
            <br>
            <div class="card-body">
                <h3><%= pedido.name %></h3>
            </div>
            <div class="card-footer">
                <p><%= pedido.nameProduct %></p>
            </div>
        </div>
        <% }) %>
    </div>
</body>
<%- include("./partials/footer.ejs") %>